<div class="mat-app-background students-container">
  <mat-card class="students-list">
    <mat-card-header>
      <mat-card-title> Students </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let student of students" (click)="selectStudent(student)">
          <button mat-icon-button (click)="deleteStudent(student)">
            <mat-icon>delete</mat-icon>
          </button>
          <span matLine>{{ student.firstName }} {{ student.lastName }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="addStudent()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="students-detail">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="selectedStudent.id === -1; else editTitle">
          Add Student
        </span>
        <ng-template #editTitle>
          Edit {{ selectedStudent.firstName }} {{ selectedStudent.lastName }}
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <form #ngForm="ngForm" (ngSubmit)="saveStudent()">
      <mat-card-content>
        <div class="student-editor">
          <mat-form-field floatLabel="always">
            <mat-label>First Name</mat-label>
            <input matInput name="firstName" [(ngModel)]="selectedStudent.firstName" required minlength="3" />
          </mat-form-field>
          <br>
          <mat-form-field floatLabel="always">
            <mat-label>Last Name</mat-label>
            <input matInput name="lastName" [(ngModel)]="selectedStudent.lastName" required minlength="3" />
          </mat-form-field>
          <br>
          <mat-checkbox name="isActive" [(ngModel)]="selectedStudent.isActive">Is Active</mat-checkbox>
          <h4>Enrolled Courses</h4>
          <mat-checkbox *ngFor="let course of Course | keyvalue" [checked]="selectedStudent.courses.includes(course.value)"
            (change)="$event.checked && selectedStudent.courses.push(course.value); $event.checked || selectedStudent.courses.splice(selectedStudent.courses.indexOf(course.value), 1);">
            {{ course.value }}
          </mat-checkbox>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button type="submit" [disabled]="ngForm.invalid">
          <mat-icon>done_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="cancelSave()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>